<h1>Healthy Bytes</h1>
<p>Welcome to <%= title %></p>

<p>
  Healthy living is a goal of many, and we can learn many ways to incorporate
  the latest and greatest wellness trends into our daily lives. A healthy
  lifestyle is one which helps to keep and improve people's health and
  well-being. Many governments and non-governmental organizations work at
  promoting healthy lifestyles. They measure the benefits with critical health
  numbers, including weight, blood sugar, blood pressure, and blood cholesterol.
  Healthy living is a lifelong effect. The ways to being healthy include healthy
  eating, physical activities, weight management, and stress management. Good
  health allows people to do many things.
</p>

<h3>Components of a healthy lifestyle</h3>

<ul>
  <li>Proper Diet</li>
  <li>Physical Exercise</li>
  <li>Proper Sleeping Pattern</li>
  <li>Personal Hygiene</li>
  <li>Absence of bad habbits or addiction</li>
  <li>Health Education</li>
  <li>Physical Fitness</li>
  <li>Emotions</li>
  <li>Active social life</li>
</ul>

<h4>Few of the apps that help in achieving active lifestyle are</h4>
<br>
<br>

<div class="d-flex justify-content-around"">
    <a href="https://www.nhs.uk/oneyou/active10/home">
      <img
        src="../images/Active-10-app-570x430.jpg"
        style="width: 150px; height: 150px;"
      />
    </a>

    <a href="https://apps.apple.com/gb/app/one-you-couch-to-5k/id1082307672">
      <img src="../images/logo5k.png" style="width: 150px; height: 150px;" />
    </a>

    <a
      href="https://apps.apple.com/gb/app/change4life-food-scanner/id1182946415"
    >
      <img src="../images/food1.png" style="width: 150px; height: 150px;" />
    </a>
</div>
